.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #1976d2;
    color: white;

    .example-icon {
        color: white;
    }

    a {
        color: white;
        text-decoration: none;
        margin: 0 10px;

        &:hover {
            text-decoration: underline;
        }
    }
}
