<form [formGroup]="produtoForm" (ngSubmit)="submitForm()">
  <div>
    <mat-form-field>
      <mat-label>Título</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="produtoForm.get('title')?.invalid">Campo Título é obrigatório</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Subtítulo</mat-label>
      <input matInput formControlName="subtitle">
      <mat-error *ngIf="produtoForm.get('subtitle')?.invalid">Campo Subtítulo é obrigatório</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Link da Imagem</mat-label>
      <input matInput formControlName="imagemlink">
      <mat-error *ngIf="produtoForm.get('imagemlink')?.invalid">Campo Link da Imagem é obrigatório</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Preço</mat-label>
      <input matInput type="number" formControlName="price">
      <mat-error *ngIf="produtoForm.get('price')?.invalid">Campo Preço é obrigatório</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="produtoForm.get('description')?.invalid">Campo Descrição é obrigatório</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Disponível em Estoque</mat-label>
      <input matInput type="number" formControlName="availableInStock">
      <mat-error *ngIf="produtoForm.get('availableInStock')?.invalid">Campo Disponível em Estoque é obrigatório</mat-error>
    </mat-form-field>
  </div>

  <button mat-flat-button color="primary" [disabled]="produtoForm.invalid">Enviar</button>
</form>
