<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="login-form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        {{ emailError }}
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        {{ emailError }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        {{ passwordError }}
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!loginForm.valid">
      Login
    </button>
  </form>
</div>
